.form{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
    width: 100%;
}
.div_label{
    align-items: center;
    display: flex;
    padding: 10px 5px;

}
.form-control{
    padding: 10px 5px;
    margin: 10px 20px;
    display: flex;
    width: 390px;
    border-radius: 5px;
    outline: none; 
    border: 0.005rem solid black;
}
/* .form-label{
    padding: 10px 5px;
    margin: 8px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
} */
.btn{
    margin: 12px 10px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}